
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul >li{
    padding: 10px;
    cursor: pointer;
}
.logo{
    width: 100px;
}
.card{
    width: 200px;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
   
}
.card h1{
    font-size: 10px;
}
.card >img{
    width: 100%;
}
.restraunt-list{
    display: flex;
    flex-wrap: wrap;
}